<!--display the mealkits-->
<% layout = '../layouts/main' %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Link the CSS file -->
    <link rel="stylesheet" href="/CSS/site.css">
    <link rel="stylesheet" href="/CSS/welcome.css">

</head>
<body>
    <p>Welcome to Fresh Eatery!</p>
    <p>Your gateway to a healthier lifestyle! Build and customize web pages effortlessly with user-friendly platform, crafted with HTML, CSS, NodeJs, Express, and MongoDB. Experience the essence of freshness with our organic and healthy food delivery directly from the farm. Trace the journey from producer to your doorstep, ensuring transparency in every step. Whether you prefer cooking with a variety of fresh ingredients for full nutrition or opting for daily doorstep deliveries, Fresh Eatery is your go-to destination for a nourishing and convenient culinary experience.</p>

</body>